body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: #09090b;
}

.custom-scrollbar::-webkit-scrollbar { width: 5px; }
.custom-scrollbar::-webkit-scrollbar-track { background: transparent; }
.custom-scrollbar::-webkit-scrollbar-thumb { background: #27272a; border-radius: 10px; }

.page-transition {
    animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

.vcaa-input-shadow {
    box-shadow: 0 0 15px rgba(245, 158, 11, 0.1);
}